{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-param-reassign": 0,
    "no-underscore-dangle": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./"
      },

      "alias": {
        "map": [
          ["@", "./src"]
        ],

        "extensions": [".js",".ts", ".vue", ".scss"]
      }
    }
  }
}
