@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: local(''),
      url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff');
  }
}

@mixin notebook {
  @media screen and (max-width: 1599px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 767px) {
    @content;
  }
}
